/*
    https://github.com/diogomachado/snackbars
*/

@font-face {
  font-family: 'snackbar-icones';
  src:
    url('../fonts/snackbar-icones.ttf?lxhjn8') format('truetype'),
    url('../fonts/snackbar-icones.woff?lxhjn8') format('woff'),
    url('../fonts/snackbar-icones.svg?lxhjn8#snackbar-icones') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'snackbar-icones' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e5c4";
}
.icon-exit:before {
  content: "\e879";
}

.snackbar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0px 9px rgba(0,0,0,.3);
    padding: 14px 23px;
    background: #323232;
    color: white;
    font-size: 14px;
    transform: translateY(100%);
}

.snackbar.show{
    animation: show 400ms cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

.snackbar.hide{
    animation: hide 300ms cubic-bezier(0.4, 0.0, 0.2, 1) both;
}

@-webkit-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@-o-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@-moz-keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}
@keyframes show {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

@-webkit-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@-o-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@-moz-keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes hide {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(100%);
    }
}