<div class="content home content-center">

    <!--
        Aqui, para manter o código limpo, usei um `include` do AngularJS
    -->
    <div class="svg" ng-include="'app/views/_svg-home.html'"></div>

    <div class="home-body">

        <!-- Código da empresa -->
        <input type="text" ng-model="codigo_empresa" ng-click="Home.pingar()" placeholder="Código da casa" maxlength="6">

        <!-- Botão buscar -->
        <button type="button" ng-show="codigo_empresa" ng-click="Home.buscar()">
            <svg>
                <use xlink:href="assets/img/icons.svg#icon-arrow_forward"></use>
            </svg>
        </button>

        <!-- Botão de escanear -->
        <button ng-click="Home.scanear()" ng-show="!codigo_empresa">
            <svg>
                <use xlink:href="assets/img/icons.svg#icon-qrcode"></use>
            </svg>
        </button>
    </div>

    <div class="footer">
        <a ng-href="#!/buscar-pedido">Meus pedidos</a>
    </div>
</div>