<header class="toolbar {{ device }} barFixed">
    <section class="buttons"></section>

    <section class="title {{ device }}">
        {{ nome }}
    </section>

    <section class="buttons">
        <button type="button" class="{{ device }}" ng-click="sair()">
            <i class="icon-exit"></i>
            <span class="text">Sair</span>
        </button>
    </section>
</header>

<div class="content content-padded">

    <ul class="checkbox-wrapper">
        <li class="titulo-secao {{ device }}">
            Cardápio
        </li>

        <li class="checkbox-item" ng-repeat="(key, lanche) in itens">
            <label>
                <div class="checkbox-info">
                    <p class="checkbox-info-titulo">{{ lanche.nome }}</p>
                    <p class="checkbox-info-preco">{{ lanche.preco | currency}}</p>
                    <p class="checkbox-info-descricao">{{ lanche.descricao }}</p>
                </div>
                <div class="checkbox-input">
                    <input type="checkbox" ng-model="itens[key].selecionado">
                    <span class="{{ device }}"></span>
                </div>
            </label>
        </li>

    </ul>
</div>

<footer class="footer-pedido" ng-show="exibirResumoPedido" ng-class="{'abrir-footer': exibirResumoPedido, 'fechar-footer': !exibirResumoPedido}">
    <div class="footer-pedido-detalhes">
        <p>Total</p>
        <p>{{ valorTotalPedido | currency }}</p>
    </div>

    <div class="footer-pedido-botoes">
        <button type="button" ng-click="Cardapio.fecharPedido()" class="{{ device }}">Fechar pedido</button>
    </div>
</footer>